In [1]:

os.getcwd()

'c:\\Users\\18508\\OneDrive - Mason Consulting\\workspace'

In [2]:
excelFile=pd.read_excel(r'wip\instruments\LegalsDataFrame2_converted.xlsx') #,index=["InstrumentID","instrument_date"])

NameError: name 'pd' is not defined

In [22]:
os.listdir('wip\instruments\Files')

['DataFrames_as_Excel.zip', 'Instruments_as_json', 'Instruments_as_json.zip']

In [24]:

jsonFiles=os.listdir(r"wip\instruments\files\Instruments_as_json")
type(jsonFiles)
#excelFile=pd.read_excel(r'wip\instruments\LegalsDataFrame2_converted.xlsx') #,index=["InstrumentID","instrument_date"])

list

In [12]:
jsonFiles

['DataFrames_as_Excel.zip', 'Instruments_as_json', 'Instruments_as_json.zip']

In [2]:

## From SQL to DataFrame Pandas

FileNotFoundError: [Errno 2] No such file or directory: 'wip\\instruments\\LegalsDataFrame2_converted.xlsx'

In [3]:
df=excelFile[pd.isnull(excelFile['Input Errors'])]

In [1]:
df

NameError: name 'df' is not defined

In [1]:

#str(" ").join([str(excelFile["section"]).strip(),excelFile["township"].str.strip(),excelFile["range"].str.strip(),excelFile["location"].str.strip()])
excelFile["TownshipAndRange"]="OK " + excelFile["TRS"].str.replace("\n"," ")
excelFile["AppendLatLonToDescription"]="x"
#excelFile.index.drop(["InstrumentID","instrument_date"])

#excelFile.to_excel(r'wip\instruments\LegalsDataFrame2.xlsx')

df=excelFile[["TownshipAndRange","AppendLatLonToDescription"]]
print(df.columns)
df.set_index("TownshipAndRange").sort_index()

df.drop_duplicates()

dfUnique=df[["TownshipAndRange","AppendLatLonToDescription"]].drop_duplicates()
dfUnique
dfUnique.to_excel(r'wip\instruments\LegalsDataFrame2.xlsx')

NameError: name 'excelFile' is not defined

In [80]:
dfUnique

                          TownshipAndRange AppendLatLonToDescription
0                      OK S03 T17N R11W SE                         x
1                   OK S23 T15N R13W E2 SE                         x
2                      OK S32 T19N R11W NW                         x
3                      OK S02 T19N R13W SW                         x
6                      OK S18 T15N R13W SE                         x
...                                    ...                       ...
36108                     OK S28 T17N R09W                         x
36118                   OK S6 T17N R09W SE                         x
36128  OK S04 T16N R08W S2 NW L3-4 Partial                         x
36134            OK S02 T15N R08W NE NW SW                         x
36135                  OK S02 T15N R08W SE                         x

[14136 rows x 2 columns]

In [11]:

excelFile.set_index(["InstrumentID","instrument_date"]).sort_index()
#excelFile["TownshipAndRange"].drop_duplicates()

                                         Unnamed: 0  section     township  \
InstrumentID        instrument_date
Blaine-2015-000250  2015-01-08 00:00:00       18400       31          16N
Blaine-2015-000919  2015-01-30 00:00:00       22040       23          17N
Blaine-2015-001015  2015-02-18 00:00:00       22036       15          17N
                    2015-02-18 00:00:00       22037       15          17N
                    2015-02-18 00:00:00       22038       35          16N
...                                             ...      ...          ...
McClain-2019-004686 2018-11-02 00:00:00       13607        0  NO TOWNSHIP
McClain-2019-004687 2018-11-02 00:00:00       13608        0  NO TOWNSHIP
McClain-2019-004688 2018-11-02 00:00:00       13609        0  NO TOWNSHIP
McClain-2019-008033 2018-05-21 00:00:00        3535        0  NO TOWNSHIP
McClain-2019-010762 2018-06-13 00:00:00        7835        0  NO TOWNSHIP

                                        range block  lot  acres  \
InstrumentID        instrument_date
Blaine-2015-000250  2015-01-08 00:00:00   10W   NaN    0    0.0
Blaine-2015-000919  2015-01-30 00:00:00   10W   NaN    0    0.0
Blaine-2015-001015  2015-02-18 00:00:00   10W   NaN    0    0.0
                    2015-02-18 00:00:00   10W   NaN    0    0.0
                    2015-02-18 00:00:00   10W   NaN    0    0.0
...                                       ...   ...  ...    ...
McClain-2019-004686 2018-11-02 00:00:00   NaN   NaN    0    0.0
McClain-2019-004687 2018-11-02 00:00:00   NaN   NaN    0    0.0
McClain-2019-004688 2018-11-02 00:00:00   NaN   NaN    0    0.0
McClain-2019-008033 2018-05-21 00:00:00   NaN   NaN    0    0.0
McClain-2019-010762 2018-06-13 00:00:00   NaN   NaN    0    0.0

                                                       legal location  \
InstrumentID        instrument_date
Blaine-2015-000250  2015-01-08 00:00:00  S31 T16N R10W E2 SW    E2 SW
Blaine-2015-000919  2015-01-30 00:00:00     S23 T17N R10W NW       NW
Blaine-2015-001015  2015-02-18 00:00:00  S15 T17N R10W N2 NW    N2 NW
                    2015-02-18 00:00:00     S15 T17N R10W NE       NE
                    2015-02-18 00:00:00     S35 T16N R10W SW       SW
...                                                      ...      ...
McClain-2019-004686 2018-11-02 00:00:00              31 6N4W      NaN
McClain-2019-004687 2018-11-02 00:00:00              31 6N4W      NaN
McClain-2019-004688 2018-11-02 00:00:00              31 6N4W      NaN
McClain-2019-008033 2018-05-21 00:00:00              21 8N4W      NaN
McClain-2019-010762 2018-06-13 00:00:00               7 7N4W      NaN

                                                          ID  \
InstrumentID        instrument_date
Blaine-2015-000250  2015-01-08 00:00:00  S31 T16N R10W E2 SW
Blaine-2015-000919  2015-01-30 00:00:00     S23 T17N R10W NW
Blaine-2015-001015  2015-02-18 00:00:00  S15 T17N R10W N2 NW
                    2015-02-18 00:00:00     S15 T17N R10W NE
                    2015-02-18 00:00:00     S35 T16N R10W SW
...                                                      ...
McClain-2019-004686 2018-11-02 00:00:00              31 6N4W
McClain-2019-004687 2018-11-02 00:00:00              31 6N4W
McClain-2019-004688 2018-11-02 00:00:00              31 6N4W
McClain-2019-008033 2018-05-21 00:00:00              21 8N4W
McClain-2019-010762 2018-06-13 00:00:00               7 7N4W

                                                            TRS  \
InstrumentID        instrument_date
Blaine-2015-000250  2015-01-08 00:00:00  T16N R10W Sec 31 E2 SW
Blaine-2015-000919  2015-01-30 00:00:00     T17N R10W Sec 23 NW
Blaine-2015-001015  2015-02-18 00:00:00  T17N R10W Sec 15 N2 NW
                    2015-02-18 00:00:00     T17N R10W Sec 15 NE
                    2015-02-18 00:00:00     T16N R10W Sec 35 SW
...                                                         ...
McClain-2019-004686 2018-11-02 00:00:00    TNO TOWNSHIP R Sec 0
McClain-2019-004687 2018-11-02 00:00:00    TNO TOWNSHIP R Sec 0
McClain-2019-004688 2018-11-02 00:00:00    TNO TOWNSHIP R Sec 0
McClain-2019-008033 2018-05-21 00:00:00    TNO TOWNSHIP R Sec 0
McClain-2019-010762 2018-06-13 00:00:00    TNO TOWNSHIP R Sec 0

                                        AppendLatLonToDescription
InstrumentID        instrument_date
Blaine-2015-000250  2015-01-08 00:00:00                         x
Blaine-2015-000919  2015-01-30 00:00:00                         x
Blaine-2015-001015  2015-02-18 00:00:00                         x
                    2015-02-18 00:00:00                         x
                    2015-02-18 00:00:00                         x
...                                                           ...
McClain-2019-004686 2018-11-02 00:00:00                         x
McClain-2019-004687 2018-11-02 00:00:00                         x
McClain-2019-004688 2018-11-02 00:00:00                         x
McClain-2019-008033 2018-05-21 00:00:00                         x
McClain-2019-010762 2018-06-13 00:00:00                         x

[36151 rows x 12 columns]

In [11]:
# set up multiple dataframes to merge together into the events table
query = "SELECT * FROM InstrumentsDataFrame" #  order by instrument_date, ID"
df = pd.read_sql(query, sql_conn)


#dfI = pd.read_sql("select * from instruments order by instrument_date,id",sql_conn)

,Column1,county,type,record_type,series,number,book,beginning_page,total_pages,instrument_date,...,document_stamp_fees_in_cents,mortgage_amount_in_cents,free_to_view,cost_to_view,parties,legal_descriptions,images,ID,Grantor,Grantee
0,8535,Blaine,Mineral Deed,I,2016,010961,001205,0310,2,2016-03-22 00:00:00,...,22500,0,False,0.4,"[{'name': 'REED CINDY', 'type': 'Grantor', 'In...","[{'section': 13, 'township': '15N', 'range': '...","[{'number': 1378322, 'book': '001205', 'page':...",Blaine-2016-010961,REED CINDY,RED STONE
1,8536,Blaine,Mineral Deed,I,2016,010946,001205,0279,1,2016-03-08 00:00:00,...,6000,0,False,0.4,"[{'name': 'RED STONE', 'type': 'Grantor', 'par...","[{'section': 23, 'township': '16N', 'range': '...","[{'number': 1378260, 'book': '001205', 'page':...",Blaine-2016-010946,RED STONE,ADVOCATE
2,8537,Blaine,Mineral Deed,I,2016,010944,001205,0275,1,2016-03-21 00:00:00,...,3150,0,False,0.4,"[{'name': 'ROWELL JONATHAN V ', 'type': 'Grant...","[{'section': 30, 'township': '14N', 'range': '...","[{'number': 1378261, 'book': '001205', 'page':...",Blaine-2016-010944,ROWELL JONATHAN V,RED STONE
3,8538,Blaine,Mineral Deed,I,2016,010522,001203,0591,2,2016-03-10 00:00:00,...,7500,0,False,0.4,"[{'name': 'KLABZUBA ROYALTY COMPANY', 'type': ...","[{'section': 9, 'township': '16N', 'range': '1...","[{'number': 1376229, 'book': '001203', 'page':...",Blaine-2016-010522,KLABZUBA ROYALTY COMPANY,RED STONE
4,8539,Blaine,Mineral Deed,I,2016,010521,001203,0590,1,2016-03-10 00:00:00,...,3000,0,False,0.4,"[{'name': 'KLABZUBA ROYALTY COMPANY', 'type': ...","[{'section': 23, 'township': '17N', 'range': '...","[{'number': 1376228, 'book': '001203', 'page':...",Blaine-2016-010521,KLABZUBA ROYALTY COMPANY,RED STONE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28203,12022,Blaine,Mineral Deed,I,2016,017548,001234,0328,3,2016-08-31 00:00:00,...,450,0,False,0.4,"[{'name': 'TIMBERWOLF', 'type': 'Grantor', 'pa...","[{'section': 0, 'township': '', 'range': '', '...","[{'number': 1425019, 'book': '001234', 'page':...",Blaine-2016-017548,TIMBERWOLF,LONGPOINT
28204,12023,Blaine,Mineral Deed,I,2016,017547,001234,0325,3,2016-08-24 00:00:00,...,210000,0,False,0.4,"[{'name': 'TIMBERWOLF', 'type': 'Grantor', 'pa...","[{'section': 19, 'township': '15N', 'range': '...","[{'number': 1425013, 'book': '001234', 'page':...",Blaine-2016-017547,TIMBERWOLF,LONGPOINT
28205,12024,Blaine,Mineral Deed,I,2016,017487,001234,0157,3,2016-08-24 00:00:00,...,159225,0,False,0.4,"[{'name': 'TIMBERWOLF', 'type': 'Grantor', 'pa...","[{'section': 7, 'township': '16N', 'range': '1...","[{'number': 1424752, 'book': '001234', 'page':...",Blaine-2016-017487,TIMBERWOLF,LONGPOINT
28206,12025,Blaine,Mineral Deed,I,2016,017486,001234,0154,3,2016-08-24 00:00:00,...,159300,0,False,0.4,"[{'name': 'TIMBERWOLF', 'type': 'Grantor', 'pa...","[{'section': 7, 'township': '16N', 'range': '1...","[{'number': 1424749, 'book': '001234', 'page':...",Blaine-2016-017486,TIMBERWOLF,LONGPOINT
28207,12026,Blaine,Mineral Deed,I,2016,017445,001234,0037,3,2016-08-19 00:00:00,...,300,0,False,0.4,"[{'name': 'WHIPPS ANGELA', 'type': 'Grantor', ...","[{'section': 23, 'township': '16N', 'range': '...","[{'number': 1424543, 'book': '001234', 'page':...",Blaine-2016-017445,WHIPPS ANGELA,TIMBERWOLF

In [6]:
cursor = conn.cursor()
cursor.execute("DELETE FROM Messages")# INTO dbo.tblImport(Startdt, Enddt, x,y,z,)" "VALUES                  (x,x,x,x,x,x,x,x,x,x.x,x)")
cursor.close()
conn.commit()
conn.close()

In [35]:
df2.sort_values(["DateTime","Seq"])

,ID,Importance,DateTime,Seq,DaysOver,Category,Status,Comment,Project,Subject,From,To,Body,IndexOld,Label,HasAttachments,Size
0,7,Critical,2014-05-27 14:23:34,1.0,-678.0,Production,Completed,None,994.0,Dropbox,lpmasoncpa@outlook.com,boatweems@aol.com,Hey check out my software while I’m fucking ar...,1.0,EMAIL-1,False,12205.0
1,7,Critical,2014-05-27 14:23:34,1.0,-678.0,Production,Completed,None,994.0,Dropbox,lpmasoncpa@outlook.com,boatweems@aol.com,Hey check out my software while I’m fucking ar...,1.0,EMAIL-1,False,12205.0
2,8,Normal,2014-10-15 10:25:48,1.0,-537.0,Production,Completed,He's asking to help with the letterhead.,994.0,RE: ND_Byron_10142014_FINAL.docx,lpmasoncpa@outlook.com,boatweems@aol.com,This is what the letterhead looks like. It;s ...,2.0,EMAIL-2,False,22354.0
3,8,Normal,2014-10-15 10:25:48,1.0,-537.0,Production,Completed,He's asking to help with the letterhead.,994.0,RE: ND_Byron_10142014_FINAL.docx,lpmasoncpa@outlook.com,boatweems@aol.com,This is what the letterhead looks like. It;s ...,2.0,EMAIL-2,False,22354.0
4,9,Normal,2014-12-15 08:44:25,1.0,-476.0,Administrative,Completed,Showing me the letterhead as a partner would b...,NaN,Del Negro,wrm@mcarthurenergy.com,lpmasoncpa@outlook.com,"​Weems Roland (Lynn) McArthur, Jr.\r\nAttorney...",3.0,EMAIL-3,False,22388.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4035,2031,None,2019-05-02 11:40:44,1.0,1123.0,None,None,None,NaN,Re: Your last mailing,lance@lancemason.com,wrm@mcarthurenergy.com,________________________________\r\nFrom: Lanc...,2027.0,EMAIL-518,False,4786.0
4036,2032,None,2019-05-11 01:53:33,1.0,1132.0,None,None,None,NaN,None,lance@lancemason.com,wrm@mcarthurenergy.com,None,2028.0,EMAIL-520,False,43468.0
4037,2032,None,2019-05-11 01:53:33,1.0,1132.0,None,None,None,NaN,None,lance@lancemason.com,wrm@mcarthurenergy.com,None,2028.0,EMAIL-520,False,43468.0
4038,2052,None,2019-11-17 00:00:00,NaN,NaN,None,Not Started,None,NaN,None,hi,None,None,2051.0,None,None,NaN
4039,2052,None,2019-11-17 00:00:00,NaN,NaN,None,Not Started,None,NaN,None,hi,None,None,2051.0,None,None,NaN

In [14]:
df2

,ID,Importance,DateTime,Seq,DaysOver,Category,Status,Comment,Project,Subject,From,To,Body,IndexOld,Label,HasAttachments,Size
0,7,Critical,2014-05-27 14:23:34,1.0,-678.0,Production,Completed,None,994.0,Dropbox,lpmasoncpa@outlook.com,boatweems@aol.com,Hey check out my software while I’m fucking ar...,1.0,EMAIL-1,False,12205.0
1,7,Critical,2014-05-27 14:23:34,1.0,-678.0,Production,Completed,None,994.0,Dropbox,lpmasoncpa@outlook.com,boatweems@aol.com,Hey check out my software while I’m fucking ar...,1.0,EMAIL-1,False,12205.0
2,8,Normal,2014-10-15 10:25:48,1.0,-537.0,Production,Completed,He's asking to help with the letterhead.,994.0,RE: ND_Byron_10142014_FINAL.docx,lpmasoncpa@outlook.com,boatweems@aol.com,This is what the letterhead looks like. It;s ...,2.0,EMAIL-2,False,22354.0
3,8,Normal,2014-10-15 10:25:48,1.0,-537.0,Production,Completed,He's asking to help with the letterhead.,994.0,RE: ND_Byron_10142014_FINAL.docx,lpmasoncpa@outlook.com,boatweems@aol.com,This is what the letterhead looks like. It;s ...,2.0,EMAIL-2,False,22354.0
4,9,Normal,2014-12-15 08:44:25,1.0,-476.0,Administrative,Completed,Showing me the letterhead as a partner would b...,NaN,Del Negro,wrm@mcarthurenergy.com,lpmasoncpa@outlook.com,"​Weems Roland (Lynn) McArthur, Jr.\r\nAttorney...",3.0,EMAIL-3,False,22388.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4035,2031,None,2019-05-02 11:40:44,1.0,1123.0,None,None,None,NaN,Re: Your last mailing,lance@lancemason.com,wrm@mcarthurenergy.com,________________________________\r\nFrom: Lanc...,2027.0,EMAIL-518,False,4786.0
4036,2032,None,2019-05-11 01:53:33,1.0,1132.0,None,None,None,NaN,None,lance@lancemason.com,wrm@mcarthurenergy.com,None,2028.0,EMAIL-520,False,43468.0
4037,2032,None,2019-05-11 01:53:33,1.0,1132.0,None,None,None,NaN,None,lance@lancemason.com,wrm@mcarthurenergy.com,None,2028.0,EMAIL-520,False,43468.0
4038,2052,None,2019-11-17 00:00:00,NaN,NaN,None,Not Started,None,NaN,None,hi,None,None,2051.0,None,None,NaN
4039,2052,None,2019-11-17 00:00:00,NaN,NaN,None,Not Started,None,NaN,None,hi,None,None,2051.0,None,None,NaN

In [15]:
import matplotlib